.nav_area {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.app_title {
    color: rgb(4, 29, 60);
    font-family: 'Chewy', cursive;
    font-size: 45pt;
    margin: 3px;
}

.home_nav {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
}

.home_nav a {
    text-decoration: none;
    color: rgb(4, 29, 60);
}

.home_image {
    width: 50px;
    height: auto;
}

.home_first_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 20px;
    margin-right: 20px;
}

.first_section_description {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.first_section_description button {
    width: 30%;
    height: 10%;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(4, 29, 60);
    color: white;
    font-size: 15pt;
    word-spacing: 5px;
    border: none;
}

.home_first_section h2 {
    color: rgb(4, 29, 60);
    font-size: 45pt;
}

.home_second_section {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 213, 207);
    ;
}

.second_section_bgwrapper {
    background-color: rgb(4, 29, 60);
}

.home_second_section_text {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home_second_section_text p {
    font-size: 16pt;
    color: rgb(233, 242, 246);
}

.home_second_section_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.benji_profile {
    margin-right: 30px;
}

.benji_profile p {
    font-size: 20pt;
}